<launch>
  <arg name="voc_file"
       default="$(find orb_slam3_ros)/orb_slam3/Vocabulary/ORBvoc.txt.bin"/>
  <arg name="settings_file"
       default="$(find orb_slam3_ros)/config/Monocular-Inertial/Tank/tank_on_11.yaml"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="image_topic" default="/camera/image_raw"/>
  <arg name="imu_topic" default="/imu/data"/>

  <param name="use_sim_time" value="$(arg use_sim_time)" />

  <!-- Tank bag uses compressed left image -->
  <node pkg="image_transport" type="republish" name="tank_left_republish"
        args="compressed in:=/camera/left/image_dehazed raw out:=/camera/image_raw" />

  <node name="orb_slam3"
        pkg="orb_slam3_ros"
        type="ros_mono_inertial"
        output="screen">
    <param name="voc_file" type="string" value="$(arg voc_file)"/>
    <param name="settings_file" type="string" value="$(arg settings_file)"/>

    <param name="world_frame_id" type="string" value="world"/>
    <param name="cam_frame_id" type="string" value="camera"/>
    <param name="imu_frame_id" type="string" value="imu"/>
    <param name="enable_pangolin" type="bool" value="false"/>

    <remap from="/camera/image_raw" to="$(arg image_topic)"/>
    <remap from="/imu" to="$(arg imu_topic)"/>
  </node>

  <node name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find orb_slam3_ros)/config/orb_slam3_no_imu.rviz"
        output="screen" />
</launch>
