<launch>
  <arg name="voc_file"
       default="$(find orb_slam3_ros)/orb_slam3/Vocabulary/ORBvoc.txt.bin"/>
  <arg name="settings_file"
       default="$(find orb_slam3_ros)/config/Stereo/Tank/Tank_stereo_on_11.yaml"/>

  <arg name="left_image_base" default="/camera/left/image_dehazed"/>
  <arg name="right_image_base" default="/camera/right/image_dehazed"/>
  <arg name="left_image_raw" default="/camera/left/image_raw"/>
  <arg name="right_image_raw" default="/camera/right/image_raw"/>

  <param name="use_sim_time" value="true" />

  <node name="left_image_decompress" pkg="image_transport" type="republish"
        args="compressed in:=$(arg left_image_base) raw out:=$(arg left_image_raw)" />
  <node name="right_image_decompress" pkg="image_transport" type="republish"
        args="compressed in:=$(arg right_image_base) raw out:=$(arg right_image_raw)" />

  <node name="orb_slam3" pkg="orb_slam3_ros" type="ros_stereo" output="screen">
    <param name="voc_file" type="string" value="$(arg voc_file)"/>
    <param name="settings_file" type="string" value="$(arg settings_file)"/>
    <param name="world_frame_id" type="string" value="world"/>
    <param name="cam_frame_id" type="string" value="camera"/>
    <param name="enable_pangolin" type="bool" value="false"/>

    <remap from="/camera/left/image_raw" to="$(arg left_image_raw)"/>
    <remap from="/camera/right/image_raw" to="$(arg right_image_raw)"/>
  </node>
</launch>
